{
  "arrowParens": "always",
  "bracketSpacing": true,
  "htmlSelfClosing": false,
  "htmlWhitespaceSensitivity": "ignore",
  "plugins": ["prettier-plugin-tailwindcss"],
  "semi": false,
  "singleAttributePerLine": true,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false
}
